@import url(./reset.css);
@import url(./model.css);


.bigbg{
    background-image: url(../pic/USAbigpic.png);
    background-size: contain;
    background-size: cover;
    display: block;
    width: 100vw;
    border-bottom: solid gray;
    position: relative;

    /* 輔助高 */
    height: 800px;
}

.bigword{
    width: 600px;
    margin-left: 80px;
    position: absolute;
    bottom: 15%;
}

.bigword p{
    margin-top: 20px;
}

/* 旅遊景點 */
.mid1{
    background-color: #02023f;
    width: 100%;
    padding: 50px;
    border-bottom: gray 2px solid;
}

.mid1 h2{
    color: white;
    text-align: center;
}

.midin1{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.mid_1{
    width: 200px;
}

.midin1 a{
    /*  */
   display: block;
}

.mid_1 img{
    border-radius: 20px;
    background-size: contain;
    height: 250px;
    width: 200px;
}

h3{
    text-align: center;
    margin-top: 50px;
    transition: .8s;
}

.mid_1 h3:hover{
    color: orange;
    font-size: 26px;
}

/* Starlights */

.mid2{
    background-color:rgb(32, 32, 77);
    padding: 50px 110px;
    border-bottom: 2px solid gray;
}

.midin2{
    display: flex;
    justify-content: space-between;
}

.mid2 h2{
    text-align: center;
    margin-bottom: 50px;
}

.mid_2{
   width:400px;
}

.mid2 img{
    width: 380px;
    border-radius: 20px;
}

.mid_2 h3:hover{
    color: orange;
    font-size: 28px;
}



