@import url(./reset.css);
@import url(./model.css);

.bigbg{
    display: block;
    background-image: url(../pic/card.jpg); 
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    height: 600px;  
    justify-content: center;
}

.bigword_in{
    display: inline-block;
    margin-top: 230px ;
}

.bigword h3{
    padding: 40px ;
    /* color: black; */
}

/* 中間區塊 */
main{
    text-align: center;
    background-color: rgb(8, 32, 45);
}

.box{
    /* width: 100px; */
    display: block;
    /* outline: 1px black solid; */
    margin-bottom: 50px;
}

.mid{
    /* height: 500px; */
    padding: 50px 0;
}

main img{
    width: 320px;
}

.box h2{
 margin-top: 20px;
}

.line{
    height: 2px;
    width: 280px;
    background-image: linear-gradient(to right,lightblue, purple);
    border-radius: 1px;
    margin:20px auto;   
}

.box h3{
    display: inline-block;
    width: 260px;
}
