@import url(./reset.css);

* {
  box-sizing: border-box;
}

html, body {
  /* 要更動 */
  width: 100%;
  font-size: 16px;
  font-family: "DFKai-SB" !important;
  line-height: 1.2;
  position: relative;
}

h2 {
  font-family: "DFKai-SB" !important;
  font-size: 24px;
  color: white;
}

h3 {
  font-size: 18px;
  color: white;
}

h4 {
  font-size: 48px;
  color: white;
}

h5 {
  font-size: 36px;
  color: white;
}

h6 {
  font-size: 64px;
  color: white;
}

p {
  color: white;
  display: inline-block;
}

i {
  margin: 0 10px 0 10px;
  align-items: center;
}

a {
  display: block;
  text-decoration: none;
  color: white;
}

/* 需調整 */
.menu {
  position: sticky;
  top: 0;
}

.menu ul {
  display: flex;
}

.menu li {
  display: inline-block;
  flex-grow: 1;
  font-size: 18px;
  padding: 10px 0 10px 0;
}

.out19 {
  width: 100%;
}

.out12 {
  width: 1200px;
  margin: 0 auto;
  padding: 6px;
  position: relative;
}

.one {
  background-color: rgb(118, 118, 118, 0.6);
}

.logo img {
  display: inline;
  width: 50px;
}

.lefthd1 {
  display: flex; 
}

.righthd1 {
  display: flex;
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translate(0%, -50%);
}

/* 文字輪播 */
.tipsList{
  height:16px;
  text-align:left;
  overflow:hidden;
  color: white;          
}
.tipsList ul{
  position:relative;
}
.tipsList ul li{
  list-style:none;
  position:absolute;
  width:100%;
}

/* 頂部第一塊 */
.fas fa-user {
  font-size: 24px;
}

.top3 {
  border-bottom: gray 1px solid;
}

li a {
  text-align: center;
  transition: 0.8s;
}

.logogo{
  width: 200px;
}

.logogo span {
  font-size: 24px;
}

.rtlogo {
  /* width: 50%; */
  display: flex;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0%, -50%);
  font-size: 18px;
  text-align: center;
  justify-content: flex-end;
}

.rtlogo span {
  border-left: 2px black solid;
  padding-left: 5px;
}

/* 懸浮按鈕區 */
.move_a {
  position: fixed;
  bottom: 120px;
  right: 5px;
  z-index: 1;
  background-color: orange;
  border-radius: 10px;
}

.move_a a {
  font-size: 25px;
  padding: 7px 5px 5px 5px;
  margin: 20px 0;
  transition: 0.8s;
}

/* 效果欄位 */
/* 目錄欄位效果 */
li:hover a {
  color: #ffbb4f;
}

/* 懸浮按鈕特效 */
.move_a a:hover {
  background-color: paleturquoise;
  margin: 20px 0;
  border-radius: 50%;
}

/* footer */
.ft {
  display: flex;
  padding: 20px;
  position: relative;
}

.left_footer {
  display: flex;
  margin: 20px;
  align-items: flex-end;
}

.ft img {
  display: inline-block;
  width: 50px;
}

.ft h2 {
  padding-left: 20px;
}

.right_footer {
  width: 40%;
  margin: 5px 0 20px 0;
  flex-direction: column;
  color: white;
  position: absolute;
  right: 0;
}

/* 指令效果塊 */
.box-shadow {
  box-shadow: black 12px 11px 10px 5px;
  border-radius: 8px;
}

.w1200{
  width: 1200px;
}

.w1100 {
  width: 1100px;
  margin: 0 auto;
  padding: 20px 6px;
}

.w360 {
  width: 30%;
}

.half{
  width: 50%;
}

.padding50 {
  padding: 50px;
}

.padding20 {
  padding: 20px;
}

.padding0{
  padding: 0;
}

.displayflex {
  display: flex;
}

.margin-bottom30px {
  margin-bottom: 30px;
}

.text-aligncenter {
  text-align: center;
}

.align-items_center {
  align-items: center;
}

.flex-grow {
  flex-grow: 1;
}

.displayblock {
  display: block;
}

.BGC_A {
  background-color: rgb(8, 32, 45);
}

.BGC_B {
  background-color: rgb(15, 45, 60);
}

.BGC_C {
  background-color: rgb(65, 59, 55);
}

.BGC_D {
  background-color: #5a1502;
}

.BGC_E {
  background-color: #9c2800;
}

.BGC_F {
  background-color: #ffbb4f;
}

.BGC_X {
  background-color: rgba(247, 234, 225);
}

.displayinline-block {
  display: inline-block;
}

.margin0 {
  margin: 0 auto;
}

.margin-left {
  margin-left: auto;
}

.PT20{
  padding-top: 20px;
}

.PB20{
  padding-bottom: 20px;
}

.FS24{
  font-size: 24px;
}

.FS20{
  font-size: 20px;
}

.news {
  color: #ffbb4f;
}

.none {
  display: none;
}

.wrap {
  flex-wrap: wrap;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

/* 避免底層出現 */
.hide_menu {
  z-index: 2;
}

/* media screen */
@media screen and (max-width: 1200px) and (min-width:768px){
  .out12{
    width: 100%;
  }

  .w1200{
    width: 100%;
  }

  .w1160{
    width: 100%;
  }

  .w1100{
    width: 95%;
  }

  .w600{
    width: 50%;
  }

  .w1000{
    width: 100%;
  }

  .city{
    width: 100%;
  }

  .w360{
    width: 50%;
  }

  iframe{
    margin: 40px auto;
    width: 80%;
  }

  div.no1{
    order: none;
  }

  div.no2{
    order: none;
  }

  div.no3{
    order: none;
  } 

  .move_a a{
    padding: 0;
  }

  h6{
    font-size: 50px;
  }

}

@media (max-width:767.98px){
  .phone_block{
    display: block;
  }

  .computer{
    opacity: 0;
    display: none;
  }

  .out12{
    width: 100%;
  }

}