@import url(./reset.css);
@import url(./model.css);

.halfline{
    width: 80%;
    /* 改成只有底線 */
    border-bottom: 3px solid white;
    padding-bottom: 20px;
    transition: .8s;
}

.halfline h3{
    transition: .8s;
}

.halfline:hover{
    border-bottom: orange 3px solid;
    border-radius: 2px;
    color: orange;
}

.halfline:hover h3{
    color: orange;
}

.outline{
    outline: 2px solid black;
    border-radius: 20px ;
    margin-bottom: 30px;
}

.title{
    padding: 12px 0 12px;
}

.buttonout{
    width: 100%;
    border-radius: 20px ;
    background-color: burlywood;
}

.buttonout h2{
    padding: 10px 0;
}

button{
    background-color: burlywood;
    border-radius: 20px;
    margin: 0 auto;
    align-items: center;
    border: none;
    transition: .7s;
}

button:hover{
    cursor: pointer;
    color:paleturquoise;
}


.i_left_auto{
    display: inline-block;
    font-size: 24px;
    margin-left: auto;
}

.w1100{
    margin: 0 auto;
    padding:20px 6px ;
}

.w1100 ul{
    list-style-type:upper-roman;
    padding-left: 28px;
}

.w1100 ol{
    list-style: lower-roman;
    padding-left: 28px ;
}

.w1100 li{
    width: 100%;
    display: list-item;
    margin-top: 18px;
    padding-right: 20px;
}

.w1100 .typeA{
    list-style-type:lower-greek;
    padding-left: 28px;
}

.w1100 a{
    color:blue;
    padding: 18px 18px 30px 38px ;
    font-size: 18px;
    transition: .8s;
}

.w1100 a:hover{
    color: orange;
}

.w1100 p{
    color:black;
    font-size: 20px;
}

.new_net{
    display: flex;
}

.news_notice{
    display: none;
}

@media (max-width:767.98px){
    .w1100{
        width: 100%;
    }

}