@import url(./reset.css);
@import url(./model.css);

.buttonout{
    display: block;
    width: 100%;
    border-radius: 20px ;

      /* 輔助線 */
      /* border-bottom: 1px solid black; */
}

.w1160{
    width: 1160px;
    margin: 0 auto;
    padding: 50px 0;

    /* 輔助需刪除 */
    /* height: 600px; */
}

button i{
    font-size: 24px;
}


.outline{
    outline: 2px solid black;
    border-radius: 20px ;
    margin-bottom: 30px;
}

button{
    background-color: burlywood;
    width: 120px;
    border-radius: 20px;
    align-items: center;
    border: none;
    transition: .7s;
    padding: 10px;
    outline: 1px black solid;
    justify-content: center;
    margin: 10px ;
}

button:hover{
    cursor: pointer;
    color:paleturquoise;
}

.w360 h2{
    margin: 10px 0;
}

.margin-left{
    margin-left: auto;
}

.w360 h3{
    margin: 20px;
}

.out121{
    width: 1200px;
    margin: 0 auto;
    padding-left: 2px;
}

.out122{
    width: 1200px;
    margin: 0 auto;
    padding-left: 2px;
    /* margin-right: 0; */
}


/* 背景照片區 */
.BGP_1{
    background-image: url(../pic/TaiwanBG.jpg);
    background: content;
}

.BGP_2{
    background-image: url(../pic/ThailandBG.jpg);
    background: content;
}

.BGP_3{
    background-image: url(../pic/JapanBG.jpg);
    background: content;
}

.BGP_4{
    background-image: url(../pic/MacaoBG.jpg);
    background: content;
}




/* 遮色層 */
.color06{
    background-color:rgb(118,118,118,0.6);
    border-radius: 20px;
    padding: 2px;
}


/* 順序層 */
.padding0{
    padding: 0;
}

.no1{
    order: 3;
}

.no2{
    order: 2;
}

.no3{
    order: 1;
    background: center;
}
