@import url(./model.css);

.ooo{
    background-image: url(../pic/TravelBG.jpg);
    padding: 0;
    border-radius: 20px;
    outline: 3px black solid;
}

/* 遮色層 */
.color06{
    background-color:rgb(118,118,118,0.6);
    border-radius: 20px;
    padding: 2px;
}

.w1000{
    margin: 50px auto;
    display: flex;
    margin-bottom: 12px;
    /* height: 80px;     */
    justify-content: center;
}

.w1000h210{
    /* height: 280px; */
    margin: 50px auto;
    margin-bottom: 12px;
    justify-content: center;
}

.w960{
    margin: 30px;
    border: #000 1px solid;
    border-radius: 20px;
    text-align: center;
    padding-bottom: 30px;
}

.w960 h5{
    margin: 20px;
}

.w900{
    margin: 0 auto;
    margin-top: 0px;
    padding:10px;
    flex-wrap: wrap;
}

.w900 h2{
    margin: 0 20px;
} 

.w480{
    width: 480px;
    border: 1px black solid;
    border-radius: 20px;
    margin: 0 10px;
}

.w240{
    width: 240px;
    outline: 1px black solid;
    margin: 0 10px;
    border-radius: 20px;
}

.w150{
    width: 150px ;
    outline: 2px solid black;
    border-radius: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: 30px;
    cursor: pointer;
}
.w150 a{
    border-radius: 20px;
}

.w150 h2{
    padding: 10px;
    transition: .7s;
}

.w150 :hover h2{
    color: orange;
}

.w200{
    width: 200px;
    margin-left: 20px;
    cursor: help;
}

.align-itemscenter{
    align-items: center;
}

.justline{
    width: 90%;
    margin: 30px auto;
    height: 4px;
    border-radius: 3px;
    background-image: linear-gradient(to right,lightblue,pink, purple );
}

.padding20{
    padding: 20px 0;
}

.PTB50{
    padding-top: 50px;
    padding-bottom: 50px;
}

/* 出發.目的地 */
/* 選擇航向 */
.w240 h2{
    margin:0 10px 0 20px ;
}

/* 選擇日期 */
.date{
    width: 200px;
    height: 30px;
    margin-left: auto;
    margin-right: 20px;
}

.w480 h2{
    margin-left: 20px;
}

.country{
    margin:0 10px 0 20px;
}

/* 選擇人數及艙等 */
.level h3{
    margin:0 5px;
}

/* 下方微調 */
.w200 h3{
    color: #000;
}

/* media screen */
@media screen and (max-width: 1200px) and (min-width:768px){
    .w150{
        margin-right: 60px;
    }

    .w480{
        margin: 0 5px;
    }

    .w480 h2{
        margin-left: 5px;
    }

    .date{
        margin-right: 20px;
    }

}

@media (max-width: 767.98px) {
    h2{
        font-size: 18px;
    }

    .w480 h2{
        /* font-size: 18px; */
        margin-left: 6px;
    }

    .w480{
        margin: 5px 10px ;
    }

    .w240{
        margin: 5px auto;
    }

    .w150{
        margin: 0 auto;
    }

    .w200{
        margin-left: 0px;
    }

}